@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Termite</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/material-design-lite/material.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="~/css/site.css" />
        <!-- The Viewer CSS -->
        <link rel="stylesheet" href="https://developer.api.autodesk.com/viewingservice/v1/viewers/style.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/material-design-lite/material.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- The Viewer CSS -->
        <link rel="stylesheet" href="https://developer.api.autodesk.com/viewingservice/v1/viewers/style.min.css" asp-append-version="true"/>
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <object type="image/svg+xml" data="~/images/optimised.svg">Your browser does not support SVG</object>
            <span class="mdl-layout-title">Termite</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                @Html.Partial("Upload")
                @*<a class="mdl-navigation__link" href="@Url.Action("Index", "Home")">Home</a>
                <a class="mdl-navigation__link" href="@Url.Action("About", "Home")">About</a>
                <a class="mdl-navigation__link" href="@Url.Action("Contact", "Home")">Contact</a>
                <a class="mdl-navigation__link" href="@Url.Action("ForgeViewer", "Home")">Viewer</a>
                @Html.Partial("_LoginPartial")*@
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only" aria-hidden="true">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            @Html.Partial("Upload")
            @*<a class="mdl-navigation__link" href="@Url.Action("Index", "Home")">Home</a>
            <a class="mdl-navigation__link" href="@Url.Action("About", "Home")">About</a>
            <a class="mdl-navigation__link" href="@Url.Action("Contact", "Home")">Contact</a>
            <a class="mdl-navigation__link" href="@Url.Action("ForgeViewer", "Home")">Viewer</a>
            @Html.Partial("_LoginPartial")*@
        </nav>
    </div>

    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid center-items">
                @RenderBody()
            </div>
        </div>
        <footer class="mdl-mini-footer">
            <div class="mdl-mega-footer--left-section">
                <ul class="mdl-mini-footer__link-list">
                    <li>From <a href="http://www.bim42.com" style="text-decoration: underline">BIM 42</a>, with <i class="material-icons md-15">favorite</i></li>
                </ul>
            </div>
            <div class="mdl-mini-footer--right-section">
                <ul class="mdl-mini-footer__link-list">
                    <li>Logo created by Hea Poh Lin from the Noun Project</li>
                </ul>
            </div>
        </footer>
    </main>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/material-design-lite/material.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/material-design-lite/material.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

        
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
